platformIOproject/.pioenvs
platformIOproject/.piolibdeps
platformIOproject/src/secrets.h
platformIOproject/.pio/libdeps/
platformIOproject/.pio/
platformIOproject/.vscode/
platformIOproject/budsobude.cpp
platformIOproject/src/entry.htm
platformIOproject/src/logtut.htm
